* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Sofadi One", system-ui;
    color: white;
}
.app h1 {
    color: white;
}

li {
    padding: 5px;
    font-size: 1.5em;
}

.box_game {
    width: 100%;
}

.box_game img {
    width: 100%;
    height: 300px;
    z-index: 100;
}

.transition_box {
    animation: slide-out 7s;
}

@keyframes slide-out {
   from {
        transform: translateY(-135px);
    }
    to {
        transform: translateY(0px);
    }
}

.transition_box1 {
    animation: slide-in 7s;
}

@keyframes slide-in {
    from{
        transform: translateY(135px);
    }
    to{
        transform: translateY(0px);
    }
    
}

.app {
    background-image: url('../img/pexels-pixabay-326333.jpg');
    background-size: cover;
}